.logo {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.08em;
  font-size: 22px;
}

.logo-bracket {
  color: var(--pink);
}

.logo:hover {
  color: var(--pink);
}

.logo--header {
  color: #1c1c1c;
  font-family: "Min Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: normal;
  text-transform: uppercase;
}

.logo--header .logo-bracket {
  color: #f24281;
}

.logo--header:hover {
  color: #1c1c1c;
}
